.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 180px;
}
.hero-text {
    max-width: 40%;
}

.hero-text h1 {
    font-size: 50px;
    color: #003399;
}

.hero-text p {
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
}

.read-more {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/* Hero Image */ 
/* Hero Image */ 
.hero-image img {
    width: 32rem;
    height: 32rem;
    box-shadow: 0 8px 16px rgba(4, 4, 4, 0.2); /* Light box shadow */
    border-radius: 8px; /* Optional: Rounded corners */
}
